.logo-img{
    width: 300px;
}

*{
    margin: 0px;
    padding: 0px;
}

#branding{
    text-align: center;
    padding-top: 6rem;
}

#branding h1,p{
    margin-bottom: 1rem;
}

#sub-title {
    margin-top: 20px;
}

form input {
    display: block;
    height: 3rem;
    width: 100%;
    border: none;
    margin: 0px auto 1rem auto;
    font-size: 14px;
}

form{
    text-align: center;
    padding: 10px;
}

#form-container{
    width: 21rem;
    margin: 0px auto;
    text-align: center;
}

#form-container p{
    margin-top: 3rem;
    text-align: center;
    font-size: 14px;
    color: gray;
}

#form-container a{
    text-decoration: none;
    color: #34004a;
    font-size: 16px;
}

#form-container a:hover{
    cursor: pointer;
}

#register{
    display: block;
    color: #34004a;
}

#register:hover{
    cursor:pointer;
}